<%- include("partials/header.ejs") %>
    <% blogs.forEach(blog => { %>
        <h1 href="/<%=blog.title%>">
            <%=blog.title%>
        </h1>

        <p>
            <%=blog.content %>
        </p>
        <!-- console.log(`${blog.title}`); -->
    <%});%>
</body>
</html>