<%- include("partials/header.ejs") %>

    <h1>Welcome to Nidari's world</h1>

    <form action = "/submit" method="post">
        <input type="text" name="blog_title" id="blog_title" placeholder="Enter Title">
        <textarea name="blog_content" id="blog_content" cols="80" rows="10" placeholder="Write Here"></textarea>
        <input type="submit" value="Save">
    </form> 

<%- include("partials/footer.ejs") %>