<%- include("partials/header.ejs") %>

    <div class="blogs_display">
        <% blogs.forEach(blog => { %>
            <a href="/blogs">
                <%=blog.title%>
            </a>
            <!-- console.log(`${blog.title}`); -->
        <%});%>
        <!-- <div class="blogs_container"></div> -->
    </div>
    
<%- include("partials/footer.ejs") %>