*{
    font-family: 'Poppins', sans-serif;
}

.blogs_display{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    width: 80%;
    margin: auto;
    margin-top: 2rem;
}

.blog_links{
    height: 4rem;
    background-color: aliceblue;
}

.blogs_display a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #000;
    background-color: aquamarine;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 8rem;
    padding: 1rem;
    font-size: 2rem;
    border-radius: 1rem;
}

.blogs_display a span{
    font-size: .8rem;
}

.blogs_display a:hover{
    background-color: #75b2eb;
    color: #000;
}

/* Add Blog */
.blog_entry{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    padding: 8px;
}

.blog_entry_form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    padding: 1rem;
    background-color: aquamarine;
    border-radius: 1rem;
}

.blog_entry_form input[type=text]{
    width: 30%;
    border: none;
}

.blog_entry_form input[type=submit]{
    width: 10%;
    background-color: #fff;
    border: none;
    border-radius: 5px;
}

.blog_entry_form input[type=submit]:hover{
    background-color: #75b2eb;
    transition: all ease .4s;
}

/* Blogs Paage */
.blogs{
    width: 80%;
    margin: auto;
    margin-top: 2rem;
    background-color:aliceblue;
    padding: 8px;
    border-radius: 1rem;
}

.blogs h1,p{
    padding: 8px;
}

.blog_title{
    display: flex;
    justify-content: space-between;
}

.blogs span{
    padding: 10px;
    float: right;
}

.blogs a{
    text-decoration: none;
}

.blogs a:hover{
    text-decoration: underline;
    transition: all ease .4s;
}

.myblogs{
    width: 80%;
    margin: auto;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.myblogs .myblogs_details{
    display: flex;
    background-color: aliceblue;
    justify-content: space-between;
    align-items: center;
}

.myblogs .myblogs_details h4{
    padding-left: 1rem;
}

.myblogs .myblogs_details a{
    padding-right: 1rem;
}

.myblogs .myblogs_details button{
    background: none;
    border: none;
    color: #2850d6;
}

.myblogs .myblogs_details button:hover{
    color: #75b2eb;
    transition: all ease .4s;
}

.myblogs .myblogs_details a{
    text-decoration: none;
}

.myblogs .myblogs_details a:hover{
    color: #75b2eb;
    transition: all ease .4s;
}

/* Footer */
.footer_container{
    display: flex;
    margin-left: 2rem;
    margin-bottom: 4px;
    padding-bottom: 0;
}

.footer_container p{
    justify-content: center;
    text-align: center;
}